html {
    background-color: #478062;
    box-sizing: border-box;
    font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	border: 2px solid black;
	background-color: #fff;
	border-collapse: collapse;
}

tr, td {
	padding: 3px;
	margin: 0px;
}

td {
	border: 1px solid grey;
	width: 100px; 
	height: 30px;
	text-align: center;
}

td:first-of-type{
	width: 200px;
	text-align: left;
}

td:nth-child(even) {
	background-color: rgba(26, 25, 25, 0.2);
}

.dark td {
	border: 2px solid black;
}

.dark {
	background-color: rgba(153, 153, 153, 0.5);
	font-weight: bold;
}

.light {
	background-image: linear-gradient(rgb(255, 254, 254), lightgrey);
}

.active {
	border: 4px solid #090; 
}

button {
	border: none; 
	background-color: #060;
	font-weight: bold;
	color: #ffffff;
	padding: 10px; 
	border-radius: 4px;
	margin: 5px 0 5px 0;
}

.center {
	text-align: center
}

.disabled {
	background-color:rgba(153, 153, 153, 0.5);
}
 
.display_none {
	display: none !important; 
}

.dice_container {
	display: grid;
	grid-template-columns: repeat(5, 80px);
	grid-column: 2;
	align-items: center;
	justify-content: center;
}

.dice_dice {
	background-color: #fff;
	grid-row: 1;
	display: flex;
	border: 1px solid black; 
	border-radius: 5px;
	height: 40px;
	width: 40px;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	font-weight: bold;
}

.dice_checkbox {
	grid-row: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
}

.dice_button {
	grid-row: 3;
	grid-column: 1/-1;
	display: flex;
	justify-self: center;
	align-self: center;
}

.game_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 1024px; 
	margin: 20px auto;
	gap: 20px;
}

.game_board {
	background-color: #ebede4;
	display: flex;
	flex-direction: column;
	gap: 40px;
	border: 1px solid #333;
	border-radius: 3px;
	width: 100%;
	height: 573px;
	padding: 20px;
}

.game_protocoll {
	width: 100%;
	height: 100%;
	/* padding: 0 20px 20px 20px; */
}

input {
	padding: 5px; 
	border-radius: 3px;
	border: 1px solid #999;
	margin: 5px;
	font-size: 0.9em;
}
